<div class="m-10">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<% message_type %> shadow-lg"></div>
    <div>
      <%= render 'shared/flash/#{message_type}' %>
      <span><%= message %></span>
    </div>
  <% end %>
</div>