
<div class="my-[150px]">
  <div class="flex items-center justify-center mb-[100px]">
    <%= render 'shared/search_form' %>  
  </div>
  <div>
    <div class="max-w-[800px] mx-auto">
      <% render @spaces %>
    </div>
  </div>
</div>

