<div class="hero min-h-screen" style="background-image: url(<%= asset_url('hero.jpg') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <%= render 'shared/search_form' %>
  </div>
</div>

